---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Computational biology and Data Science"
	pubDate={new Date('July 19 2023')}
	updatedDate={new Date('July 24 2023')}
	heroImage="/profile_picture_sufjan.png"
>
	<p>
		Computational biologist and Data scientist working on the development of novel single cell sequencing methods. Most recently co-founded Basic Genomics AB, which aim to empower research with isoform-level single cell genomics, <a href="https://www.basic-genomics.com" target="_blank">more information here</a>. 
	</p>

	<p>
		Extensive experience in programming, statistics, mathematical modeling and bioinformatics (<a href="https://github.com/AntonJMLarsson" target="_blank">Github</a>). 
		I have published scientific papers in the single cell field in journals such as Nature Methods, PLOS Computational Biology and Nature (<a href="https://scholar.google.com/citations?user=ZJ2smDIAAAAJ" target="_blank">publication list</a>). PhD from Karolinska Institutet.
	</p>
</Layout>
