---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>I'm a computational biologist and data scientist with a PhD from Karolinska Institutet.</p>
			<p>Want to know more about me? Check out my <a href="/about">about page</a>.</p>
			<p>My thoughts? Check out my <a href="/blog">blog</a>.</p>
			<p>Contact me: anton <i>at</i> antonlarsson.com</p>
		</main>
		<Footer />
	</body>
</html>
