---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
            <p>Anton J.M. Larsson, Christoph Ziegenhain+, Michael Hagemann-Jensen+ Björn Reinius, Tina Jacob, Tim Dalessandri, Gert-Jan Hendriks, Maria Kasper, Rickard Sandberg. Transcriptional bursts explain autosomal random monoallelic expression and affect allelic imbalance. PLOS Computational Biology 17, 1-16 (2021).</p>
			<p>Anton J.M. Larsson, Christos Coucoravas, Rickard Sandberg and Björn Reinius. 
                X-chromosome upregulation is driven by increased burst frequency. Nature Structural & Molecular Biology 26, 963–969 (2019).</p>
            <p>Anton J.M. Larsson, Per Johnsson, Michael Hagemann-Jensen +, Leonard Hartmanis +, Omid R. Faridani, Björn Reinius, Åsa Segerstolpe, Chloe M. Rivera, Bing Ren and Rickard Sandberg. Genomic encoding of transcriptional burst kinetics. Nature 565, 251–254 (2019).</p>
            <p>Anton J.M. Larsson, Rahul Sinha, Geoff Stanley, Irving L. Weissman and Rickard Sandberg. Computational correction of index switching in multiplexed sequencing libraries.
                Nature Methods 15, 305–307 (2018).</p>
            <p>Jeff E. Mold, Laurent Modolo, Joanna Hård, Margherita Zamboni, Anton J.M. Larsson, Moa Stenudd, Carl-Johan Eriksson, Ghislain Durif, Patrik L. Ståhl, Erik Borgström, Simone Picelli, Björn Reinius, Rickard Sandberg, Pedro Réu, Carlos Talavera-Lopez, Björn Andersson, Kim Blom, Johan K Sandberg, Franck Picard, Jakob Michaëlsson and Jonas Frisén. Divergent clonal differentiation trajectories establish CD8+ memory T cell heterogeneity during acute viral infections in humans, Cell Reports, 35, 8 (2021).</p>
            <p>Michael Hagemann-Jensen, Christoph Ziegenhain, Ping Chen, Daniel Ramskold, Gert-Jan Hendriks, Anton J.M. Larsson, Omid R Faridani and Rickard Sandberg. Single-cell RNA counting at allele and isoform resolution using Smart-seq3. Nature Biotechnology, (2020).</p>
            <p>Gert-Jan Hendriks, Lisa A Jung, Anton J.M. Larsson, Oscar Andersson Forsman, Michael Lidschreiber, Katja Lidschreiber, Patrick Cramer and Rickard Sandberg. NASC-seq monitors RNA synthesis in single cells. Nature Communications 10, 3138 (2019).</p>
            <p>Woojoo Lee, Arvid Sjölander, Anton Larsson and Yudi Pawitan. Likelihood-based inference for partially identified parameters in causal inference. Statistics in Medicine 37, 4695-4706 (2018).</p>
		</main>
		<Footer />
	</body>
</html>
